@model CommunityInformation.Models.UserMessage

@{
    ViewData["Title"] = "Contact";
}

<h1>Your application's contact page</h1>
<form asp-action="Contact" method="post">
    <label asp-for="Message">Send a message: </label>
    <input asp-for="Message" type="text" id="Message" name="Message" value="" style="height:100px; width:400px;"/>
    <input type="submit" value="Enter" />
</form>

