
@{
    ViewData["Title"] = "Contact";
}

<h1>Your application's contact page</h1>
<p>
    <label>Your name:</label>
    <input type="text" id="Name" name="Name" value="" />
</p>
<p>
    <label>Email:</label>
    <input type="text" id="Email" name="Email" value="" />
</p>
<p>
    <label>Phone:</label>
    <input type ="text" id="Phone" name="Phone" value="" />
</p>

<button type="submit">Add</button>

