@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>@ViewBag.Greeting</div>
    <h1 class="display-4">Welcome</h1>
    <p>Community Site for Eugene, Oregon</p>

    <a asp-action="Locations">Significant Locations</a>
    <a asp-action="People">Important People</a>
</div>
