@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>@ViewBag.Greeting</div>
    <h1 class="display-4">Welcome</h1>
    <p>Community Site for Eugene, Oregon</p>

    <a asp-action="Locations">Significant Locations</a><br />
    <a asp-action="People">Important People</a><br />
    <a asp-action="Status404">404 Status</a><br />
    <a asp-action="BadRequestPage">Bad Request Page</a><br />
    <a asp-action="JsonPage">Json Page</a><br />
    <a asp-action="ObjectPage">Object Page</a><br />
</div>
