@model IEnumerable<CommunityInformation.Models.UserMessage>

@{
    ViewData["Title"] = "MessageResponses";
}

<h1>MessageResponses</h1>

<table>
   @{  
       foreach (CommunityInformation.Models.UserMessage message in Model)
       {
        <tr>
            <td>@message.Message;</td>
        </tr>
       }
   }
</table>

