@model List<UserMessage>

@{
    ViewData["Title"] = "MessageResponses";
}

<h1>MessageResponses</h1>

<table>
    @{
        foreach (UserMessage message in Model)
        {
            <tr>
                <td><h2>User : @message.Users[0].UserName</h2></td>
            </tr>
            <tr>
                <td>@message.Message</td>
            </tr>
            <tr>
                <td>Date Posted: @message.Date</td>
                <td><a href="MessageComments">Add a comment</a></td>
            </tr>
        }
    }
</table>
<br />
<br />

<a href="Contact">Add another message</a>

