<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout example</title>
</head>
<body>
    <div>
        <p>This is my layout example</p>
        @RenderBody()
    </div>
</body>
</html>
